body{
    background-color: rgb(15 15 20);
}
form{
    background-color: transparent !important;
    border: 0 !important;
}
input{
    outline: 0;
}
input:focus{
    outline: 0;
}
label[for="search-box"]{
    color: rgb(228, 235, 235);
}
#search-box{
    border: 3px double rgb(10 126 225);
    flex-basis: 70%;
    border-radius: 5px;
}
.d-grid{
    display: grid !important;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr)) !important;
    grid-template-rows: auto !important;
    grid-gap: 10px !important;
}
img{
    object-fit: cover;
}